---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Tworzenie stron i sklepów internetowych',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Sprawdź, co zyskujesz',
        href: '/oferta',
        target: '_blank',
      },
      { text: 'Darmowa wycena', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Tworzenie stron i sklepów internetowych
      <span class="text-accent dark:text-white highlight"> Kraków</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Fachowe Strony</span> zarabiają na siebie i Twoją Firmę. Zaufaj specjalistom, a my zrobimy
        resztę!</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Budujemy nowoczesne strony internetowe</span>które
      przyciągną nowych klientów i pomnożą twoje zyski. Podwyższamy sprzedaż i udoskonalamy wizerunek Twojej firmy.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="STRONY INTERNETOWE KRAKÓW"
    title="Co oferujemy?"
    subtitle="Specjalizujemy się w tworzeniu nowoczesnych i funkcjonalnych stron internetowych oraz sklepów online. Oferujemy kompleksowe usługi SEO, pozycjonowanie i optymalizację stron, zapewniając lepszą widoczność w wyszukiwarkach. Budujemy i projektujemy witryny dostosowane do potrzeb klientów, gwarantując estetykę, szybkość i intuicyjność. Fachowe podejście, skuteczne rozwiązania, realne efekty! "
    items={[
      {
        title: 'Strony internetowe',
        description:
          'Tworzymy nowoczesne, funkcjonalne i estetyczne strony internetowe, które pomagają firmom wyróżnić się w sieci i skutecznie docierać do klientów.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Sklepy internetowe',
        description:
          'Tworzymy nowoczesne i intuicyjne sklepy internetowe ecommerce, które pomagają firmom skutecznie sprzedawać online i rozwijać ich biznes w świecie e-commerce.',
        icon: 'tabler:components',
      },
      {
        title: 'Aplikacje internetowe',
        description:
          'Aplikacje webowe to dynamicznie rozwijający się rodzaj oprogramowania, który w ostatnich latach zyskał ogromną popularność.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Administracja i obsługa stron',
        description:
          'Oferujemy kompleksową administrację i obsługę stron internetowych, zapewniając ich bezpieczeństwo, aktualizacje oraz sprawne działanie.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Rozbudowa i aktaualizacje stron',
        description:
          'Realizujemy kompleksową rozbudowę i regularne aktualizacje stron internetowych, gwarantując ich nieprzerwaną funkcjonalność, bezpieczeństwo oraz nowoczesny wygląd',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Tani hosting i wsparcie',
        description:
          'Oferujemy tani hosting i wsparcie, gwarantując stabilne działanie Twojej strony, bezpieczeństwo danych oraz szybką pomoc techniczną.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="GWARANCJA 100% ALBO ZWROT KOSZTÓW"
    title="Na co możesz liczyć?"
    items={[
      {
        title: 'Rozwój marki firmy',
        description:
          'Tworzymy responsywne i nowoczesne strony internetowe, które podkreślają charakter Twojej marki i wspierają osiąganie celów biznesowych. Nasze projekty są dostosowane do indywidualnych potrzeb — od prostych landingów po zaawansowane strony firmowe',
      },

      {
        title: 'Czas to pieniądz!',
        description:
          'Projektujemy strony internetowe w Krakowie i na terenie całej Polski, dbając o ich funkcjonalność, atrakcyjny wygląd i zgodność z najnowszymi trendami. Oferujemy kompleksowe wsparcie - od projektu graficznego po doradztwo techniczne i marketing online.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Strony internetowe, które pracują na Twój sukces.
      </h3>
      Stworzymy dla Ciebie nowoczesną, estetyczną i intuicyjną stronę, która nie tylko przyciągnie uwagę klientów, ale także
      skutecznie zaprezentuje Twoją ofertę. Projektujemy strony internetowe w Krakowie i na terenie całej Polski, dbając
      o ich funkcjonalność, atrakcyjny wygląd i zgodność z najnowszymi trendami. Oferujemy kompleksowe wsparcie - od projektu
      graficznego po doradztwo techniczne i marketing online.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description:
          'Zadbamy o każdy etap od analizy Twoich potrzeb po uruchomienie strony. Ty możesz skupić się na swoim biznesie, a my dopilnujemy, by Twoja strona była funkcjonalna, estetyczna i gotowa na czas.',
      },
      {
        title: 'Wsparcie Twojego Biznesu',
        description: 'Wspieramy rozwój i efektywność działalności.',
      },
      {
        title: 'Ecommerce',
        description:
          'Tworzymy profesjonalne sklepy internetowe, które łączą intuicyjny design z zaawansowaną funkcjonalnością, umożliwiając efektywną sprzedaż online i budowanie silnej marki.',
      },
      {
        title: 'Tworzenie stron z sztuczną inteligencją',
        description:
          'Oferujemy tworzenie stron internetowych z wykorzystaniem sztucznej inteligencji, która automatyzuje procesy oraz zapewnia personalizację doświadczeń użytkowników podnosząc efektywność działalności online.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Profesjonalna strona internetowa to klucz do sukcesu Twojej firmy.
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Ponad 15 lat doświadczenia w branży',
        description:
          'Posiadamy ponad 15 lat doświadczenia w tworzeniu stron internetowych i marketingu online, co gwarantuje profesjonalizm i najwyższą jakość usług.',
      },
      {
        title: 'Indywidualne podejście do każdego projektu',
        description:
          'Stosujemy indywidualne podejście do każdego projektu, tworząc rozwiązania idealnie dopasowane do unikalnych potrzeb i wizji naszych klientów.',
      },
      {
        title: 'Konkurencyjne ceny i wysoka jakość',
        description:
          'Oferujemy konkurencyjne ceny przy zachowaniu najwyższej jakości, gwarantując rozwiązania, które idealnie łączą przystępność cenową z niezawodnym działaniem.',
      },
      {
        title: 'Pełna obsługa - od koncepcji po wdrożenie',
        description: `Zapewniamy pełną obsługę – od koncepcji po wdrożenie – gwarantując kompleksowe wsparcie na każdym etapie realizacji projektu.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Tworzenie aplikacji Kraków',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Projektujemy i wdrażamy aplikacje wspomagające Twoje procesy biznesowe
      </h3></Fragment
    >

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Etapy tworzenia stron www"
    items={[
      {
        title: 'Krok 1: <span class="font-medium">Kontakt</span>',
        description:
          'Wspólnie omawiamy wizję strony www, co pozwoli nam stworzyć narzędzie skutecznie wspierające rozwój Twojego biznesu w Krakowie i okolicach. Po ustaleniu wszystkich szczegółów formalizujemy nasze ustalenia, podpisując umowę na realizację strony internetowej.',
        icon: 'tabler:package',
      },
      {
        title: 'Krok 2: <span class="font-medium">Analiza</span>',
        description:
          'Na podstawie szczegółowej analizy podejmujemy decyzje, które są precyzyjnie dopasowane do Twoich potrzeb. Budujemy architekturę, funkcjonalność strony internetowej oraz UI witryny, dbając o to, by była jak najlepiej dopasowana do Twoich klientów oraz celów biznesowych.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Krok 3: <span class="font-medium">Kodowanie i budowa stron</span>',
        description:
          'Tworzymy Twoją stronę internetową, umieszczając ją na tymczasowej domenie, która służy jako środowisko testowe. Dzięki temu możemy wprowadzać wszelkie poprawki i dostosowania, minimalizując ryzyko wystąpienia błędów. Etap programistyczny obejmuje wdrożenie kluczowych funkcji, które będą wspierały rozwój Twojego biznesu online.',
        icon: 'tabler:paint',
      },
      {
        title: 'Publikacja!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Najlepsze rozwiązania dla Twojego biznesu"
    subtitle="Strony i sklepy internetowe"
    tagline="Indywidualne podejście i jakość"
    items={[
      {
        title: 'Cały proces 100% online',
        description:
          'Przystosowaliśmy naszą metodę tworzenia stron internetowych do potrzeb współczesnego, zdalnego środowiska pracy. Od wstępnych konsultacji, przez projektowanie strony, aż po kompleksowe wsparcie techniczne – wszystko odbywa się online, szybko i wygodnie.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Optymalny UX i UI',
        description:
          'Tworzymy strony, które zapewniają spójne, intuicyjne i atrakcyjne doświadczenie użytkownika. Skupiamy się na zrozumieniu potrzeb Twoich odbiorców, aby z łatwością angażowali się w interakcje z Twoją firmą, zwiększając tym samym jej efektywność online.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Stabilny i bezpieczny system CMS',
        description:
          'Korzyścią z naszej pracy jest autorski system CMS, który łączy łatwość zarządzania treścią, znaną z popularnych rozwiązań, jak WordPress, z wyjątkową stabilnością i wyższym poziomem bezpieczeństwa. Dzięki temu masz pewność, że Twoja strona działa niezawodnie i jest chroniona przed zagrożeniami.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Optymalizacja SEO',
        description:
          'Dostosowujemy strony internetowe do zaawansowanego SEO, co znacząco zwiększa ich widoczność w wynikach wyszukiwania. Struktura witryny jest zoptymalizowana i przygotowana do efektywnego wdrożenia strategii pozycjonowania, zapewniając długofalowe rezultaty.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Strony nastawione na skuteczność',
        description:
          'Nasze podejście koncentruje się na osiąganiu realnych rezultatów, w tym maksymalizacji konwersji witryny. Tworzymy rozwiązania, które są zoptymalizowane pod kątem efektywnej sprzedaży produktów i usług, zapewniając najwyższą skuteczność.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Stałe wsparcie techniczne',
        description:
          'Nie zostawiamy Cię samego z wyzwaniami, które mogą pojawić się w przyszłości. Regularnie monitorujemy funkcjonowanie strony, naprawiamy ewentualne problemy i wprowadzamy niezbędne aktualizacje, zapewniając jej sprawne działanie na każdym etapie.Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:business-contact',
      },
      // {
      //   title: 'Testimonial',
      //   description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
      //   icon: 'flat-color-icons:voice-presentation',
      // },
      // {
      //   title: 'Contact',
      //   description:
      //     'Like a digital mailbox, but faster! Drop a line, ask a title, or send a virtual high-five. Ding! Message in.',
      //   icon: 'flat-color-icons:business-contact',
      // },
      // {
      //   title: 'Footers',
      //   description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
      //   icon: 'flat-color-icons:database',
      // },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Najczęsciej zadawane pytania"
    subtitle="W sekcji FAQ znajdziesz odpowiedzi na najczęściej zadawane pytania dotyczące naszej oferty, stron internetowych, procesów realizacji projektów oraz wsparcia technicznego, co pozwoli Ci szybko rozwiać wszelkie wątpliwości."
    tagline="Tworzenie Stron Internetowych"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Czy tworzymy tylko strony internetowe Kraków?',
        description:
          'W dzisiejszym cyfrowym świecie każda firma powinna zadbać o swoją obecność w internecie. Nasza agencja interaktywna oferuje kompleksowe wsparcie – projektowanie stron internetowych to dopiero początek. Zapewniamy szeroki wachlarz usług, dostosowanych do indywidualnych potrzeb klientów, pomagając im wyróżnić się na tle konkurencji. Tworzenie stron WWW to kluczowy element naszej działalności, jednak dbamy nie tylko o estetykę, ale także o funkcjonalność i intuicyjność naszych projektów. Dzięki temu strony nie tylko przyciągają uwagę, ale również zapewniają wygodną nawigację i szybki dostęp do treści. Oferujemy także projektowanie sklepów internetowych, identyfikację wizualną oraz kompleksowe usługi marketingowe, które pomagają w budowaniu widoczności marki w sieci.',
      },
      {
        title: 'Ile kosztuje strona internetowa?',
        description:
          'Cena zależy od zakresu projektu. Proste strony zaczynają się od 1500 zł, natomiast rozbudowane rozwiązania z CMS i sklepami internetowymi kosztują od 4000 zł wzwyż.',
      },
      {
        title: 'Czy mogę samodzielnie edytować stronę?',
        description:
          'Tak! Tworzymy strony w systemach CMS takich jak WordPress, Joomla, czy Strapi, dzięki czemu możesz łatwo zarządzać treścią.',
      },
      {
        title: 'Jak długo trwa wykonanie strony?',
        description:
          'Czas realizacji zależy od złożoności projektu. Prosta strona może być gotowa w 7-14 dni, natomiast bardziej zaawansowane projekty wymagają 4-6 tygodni.',
      },
      {
        title: 'Czy zajmujecie się pozycjonowaniem?',
        description:
          'Tak, oferujemy kompleksowe usługi SEO, w tym optymalizację techniczną, audyty oraz prowadzenie kampanii link-buildingowych.',
      },
      {
        title: 'Czy oferujecie wsparcie techniczne?',
        description:
          'Tak, zapewniamy opiekę nad stronami, aktualizacje CMS oraz wsparcie w razie problemów technicznych.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Wzrostu konwersji z formularza kontaktowego dzięki strategii komunikacji i SEO', amount: '+255%' },
      { title: 'Wzrost pozytywnego odbioru marki dzięki odświeżeniu logo', amount: '+90%' },
      { title: 'Klientów poleciło by Fachowe Strony znajomym', amount: '14 na 15' },
      { title: 'wzrost zapytań z formularza na stronie w pierwszym kwartale', amount: '+205%' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sprawdź, co zyskujesz',
        href: '/kontakt',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">
      Strony internetowe&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Kraków</span>
    </Fragment>

    <Fragment slot="subtitle"> Nie trać więcej czasu! Skontaktuj się z nami </Fragment>
  </CallToAction>
</Layout>
